*, *:before, *:after {
  box-sizing: border-box;
}

body, html {
  background-color: #009682;
}

#pageTitle {
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  display: block;
  margin: 0;
  font-size: 100px;
  font-size: 5.0vw;
  margin-top: 10px;
  margin-top: 0.5vw;
  margin-bottom: 0px;
}

.table {
  display: table;
  width: 100%;
  position: dynamic;
  height: 100%;
}

.table-cell {
  display: table-cell;
  vertical-align: top;
}

.leaderboard {
  list-style-type: none;
  padding: 0;
  margin-left: 5%;
  margin-right: 2.5%;
  width: 42.5%;
}

.leaderboard:last-child {
  margin-left: 2.5%;
  margin-right: 5%;
}

.leaderboard li {
  background-color: #fff;
  border-radius: 5px;
  height: 100px;
  height: 5vw;
  margin-bottom: 20px;
  margin-bottom: 1vw;
  overflow: hidden;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}
.leaderboard li .list_num {
  float: left;
  line-height: 75px;
  line-height: 3.75vw;
  font-size: 60px;
  font-size: 3vw;
  color: rgba(0, 0, 0, 0.65);
  margin: 15px;
  margin: 0.75vw;
  font-weight: bold;
  text-align: right;
  margin-left: 30px;
  margin-left: 1.5vw;
}
.leaderboard h1 {
  font-weight: bold;
  color: #fafafa;
  text-align: center;
  display: block;
  margin: 0;
  font-size: 60px;
  font-size: 3vw;
  margin: 10px;
  margin: 0.5vw;
}
.leaderboard li h2 {
  display: block;
  margin: 0;
  font-size: 32px;
  font-size: 1.6vw;
  line-height: 75px;
  line-height: 3.75vw;
  font-weight: 300;
  margin-top: 15px;
  margin-top: 0.75vw;
  padding-right: 20px;
  padding-right: 1vw;
  padding-left: 90px;
  padding-left: 4.5vw;
}
.leaderboard li h2 .number {
  float: right;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.65);
}

#form_new input {
  border: 2px solid;
  border-color: #009682;
  border-radius: 5px;
  padding: 10px 10px;
  box-sizing: border-box;
}
#form_new input[type=number] {
  width: 150px;
}
#form_new button {
  background-color: #009682;
  border: none;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  padding: 10px 10px;
  margin-left: 20px;
  cursor: pointer;
}
#form_new button:hover {
  background-color: #007566;
}